This is to get a part of the original LC data, which is too big to be handled on my laptop.

In [2]:
# Imports
import pandas as pd
from pandas import Series, DataFrame
import pandas_profiling

import numpy as np

In [3]:
df = pd.read_csv('../input/accepted_2007_to_2017Q3.csv.gz',compression='gzip',low_memory=True)

/Users/yanxia/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,18,48,58,117,128,129,130,133,134,135,138,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1646801 entries, 0 to 1646800
Columns: 150 entries, id to settlement_term
dtypes: float64(113), object(37)
memory usage: 1.8+ GB

In [5]:
df['issue_d'].value_counts(dropna=False)

Mar-2016    61992
Oct-2015    48631
Jul-2015    45962
Dec-2015    44343
Aug-2017    43573
Sep-2017    39713
Feb-2016    39529
Jul-2017    39415
Oct-2014    38783
Jun-2017    38087
May-2017    37681
Nov-2015    37530
Mar-2017    37181
Apr-2016    36432
Aug-2016    36280
Dec-2016    36183
Aug-2015    35886
Apr-2015    35427
Jan-2015    35107
Jul-2016    34696
Nov-2016    34591
Jun-2016    33019
Oct-2016    32772
Jan-2016    32366
May-2015    31913
Jan-2017    31835
Apr-2017    29683
Jul-2014    29306
Sep-2015    28641
Jun-2015    28485
            ...
Oct-2009      604
Sep-2009      507
Aug-2009      446
Jul-2009      411
Jun-2009      406
Mar-2008      402
May-2009      359
Apr-2009      333
Mar-2009      324
Feb-2008      306
Jan-2008      305
Feb-2009      302
Jan-2009      269
Apr-2008      259
Dec-2008      253
Nov-2008      209
Dec-2007      172
Jul-2008      141
Jun-2008      124
Oct-2008      122
May-2008      115
Nov-2007      112
Oct-2007      105
Aug-2008      100
Aug-2007       74
Jul-2007       63
Sep-2008       57
Sep-2007       53
Jun-2007       24
NaN            23
Name: issue_d, Length: 125, dtype: int64

In [22]:
df_2017 = df[df['issue_d'].str.contains("2017",na=False)]

In [23]:
df_2017['issue_d'].value_counts()

Aug-2017    43573
Sep-2017    39713
Jul-2017    39415
Jun-2017    38087
May-2017    37681
Mar-2017    37181
Jan-2017    31835
Apr-2017    29683
Feb-2017    27763
Name: issue_d, dtype: int64

In [24]:
print('writing output file...')
df_2017.to_csv('../input/accepted_2017.csv.gz', index=False, compression='gzip')

writing output file...